.header{
  background-color: #222222;
	color: #ffffff;
	font-size: .85rem;
	overflow: hidden;
  text-align: center;
}
.about{
  background-color: azure;
}
.competances{
  background-color: azure;
}
.experience{
  background-color: azure;
}
.projects{
  background-color: azure;
}
.footer{
  background-color: #222222;
	color: #ffffff;
	font-size: .85rem;
	overflow: hidden;
  text-align: center;
}